body {
    width: 100%;
    background: black;
}
::-webkit-scrollbar {
    width: 0;
  }
div {
    display: flex;
}

.mid {
    width: 85%;
    margin: 0 auto;
}
p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}
h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
}
input {
    padding: 0;
    background: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 54px;
    outline: none;
}
input::-webkit-input-placeholder {
    color: #FFFFFF;
}

/* header */

.header {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 58px 85px;
}
.logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.background {
    width: 100%;
    height: 1573px;
    background-image: url(../img/fon.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navigation-desktop {
    display: flex;
    flex-direction: row;
}
.navigation-desktop > * + * {
    margin-left: 50px;
}

/* main */

main{
    width: 100%;
}
.social {
    margin-top: 40px;
}
.Follow {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    writing-mode: vertical-lr;
}
.nav-social > * + *{
    margin-top: 26px;
}
.title-container {
    flex-direction: column;
    margin-left: inherit;
}
.tagline {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
}
.line {
    width: 72px;
    height: 2px;
    background: #FFC178;
    align-self: center;
    margin-right: 32px;
}
.name {
    flex-direction: column;
}
.scroll {
    justify-content: center;
    margin-top: 126px;
}

/* heve you  */

.row {
    flex-direction: row;
    justify-content: space-between;
}
.img-left {
    width: 43%;
}
.container-Heve-you {
    width: 47%;
    flex-direction: column;
    justify-content: space-between;
}
.more-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
    margin-right: 9px;
}
.arrow-right {
    transform: rotate(-90deg);
}


.column {
    flex-direction: column;
    align-items: center;
    background-image: url(../img/image\ 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 41px 0;
}
.mid-column {
    text-align: center;
    margin: 27px 0 39px 0;
}
.frame {
    margin-top: 468px;
    width: 95%;
    justify-content: space-between;
    align-self: center;
}


.bottom {
    flex-direction: column;
}
.bottom-logo-btn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-text {
    align-items: center;
}
.bottom-btn {
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 240px;
    height: 70px;
    background: #FFA343;
    border-radius: 8px;
    margin-left: 56px;
}
.line-bottom {
    background: #FFFFFF;
    opacity: 0.3;
    height: 1px;
    margin-top: 47px;
}

.bottom-container {
    flex-direction: row;
}
.bottom-search {
    flex-direction: column;
    width: 50%;
}
.search-form {
    flex-direction: column;
}
.email {
    flex-direction: row;
    justify-content: space-between;
}
.email-input {
}
.email-btn {
}
.line-emal {
    background: #FFFFFF;
    opacity: 0.3;
    height: 1px;
}

.bottom-search-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.other {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.Services {
    flex-direction: column;
}
.Services > * + * {
    margin-top: 45px;
}
.colum-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: -0.231818px;
    color: #FFD1A0;
}
.footer-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 0px;
    color: #FFFFFF;
}