body {
    width: 1920px;
    height: 5448px;
    overflow-y: scroll;
    background: #000000;
}

/* Header */

header {
    width: 1920px;
    height: 1573px;
    display: flex;
    justify-content: center;
}
.header-head {
    position: absolute;
    width: 1751px;
    height: 25px;
    left: 85px;
    top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.nav-header {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}
.nav-header > * + * {
    margin-left: 50px;
}
input {
    padding: 0;
    background: transparent;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    width: 54px;
    outline: none;
}
input::-webkit-input-placeholder {
    color: #FFFFFF;
}
button {
    margin-right: 17px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.header-container {
    position: absolute;
    width: 950px;
    height: 261px;
    left: 500px;
    top: 287px;
}
.social {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 214px;
    height: 22px;
    left: -20px;
    top: 450px;
    transform: rotate(90deg);
}
.social > * + * {
    margin-left: 25px;
}
.Follow-us {
    height: 25px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.instagram {
    transform: rotate(-90deg);
}
.twitter {
    transform: rotate(-90deg);
}
.Facebook {
    transform: rotate(-90deg);
}
.hcc-name {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.line {
    margin-top: 10px;
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;
    background: #FFC178;
    margin-right: 32px;
}
.name-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
}
.Discover {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.Wonderful-Indonesia {
    font-size: 88px;
    line-height: 100px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}
.scroll-down {
    position: absolute;
    left: 897px;
    top: 673px;
    display: flex;
    flex-direction: row;
}
.scroll-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 9px;
}
.arrow-img {
    height: 24px;
    width: 16px;
    background: url(../img/arrow.svg);
}
.background {
    z-index: -2;
    position: absolute;
    width: 1920px;
    height: 1573px;
    left: 0px;
    top: 0px;
}
.bc-img {
    position: absolute;
    width: 1920px;
    height: 1573px;
    left: 0px;
    top: 0px;
    background: url(../img/fon.svg);
}
.bc-gradient1 {
    position: absolute;
    width: 1920px;
    height: 1200px;
    left: 0px;
    top: 0px;
    background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%);
}
.bc-gradient2 {
    position: absolute;
    width: 1920px;
    height: 358px;
    left: 0px;
    top: 1215px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1461px;
    height: 3901px;
    left: 229px;
    top: 1429px;
}
.main-up {
    width: 1462px;
    height: 721px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.up-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.tagline {
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;
}
.up-container-text1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    width: 450px;
    height: 261px;
}
.up-container-text2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 632px;
    height: 160px;
    margin: 27px 0;
}
.more {
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.more-middle {
    display: flex;
    flex-direction: row;
    width: 127px;
    height: 25px;
    margin-top: 39px;
}
a.more-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
    margin-right: 9px;
}
.more-img {
    width: 16px;
    height: 24px;
    transform: rotate(-90deg);
    background: url(../img/arrow.svg);
}
.main-middle {
    width: 1461px;
    height: 962px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    order: 1;
    flex-grow: 0;
    margin-top: 250px;
}
.main-middle-img {
    z-index: -2;
    position: absolute;
    width: 1461px;
    height: 985px;
    left: 1px;
    background: url(../img/image\ 2.svg);
}
.main-middle-gradient {
    z-index: -1;
    position: absolute;
    width: 1461px;
    height: 440px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%); 
}
.main-middle-container {
    width: 1163px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 428.62px;
}
.middle-line {
    margin-top: 10px;
    width: 72px;
    height: 2px;
    left: 0px;
    top: 10px;
    background: #FFC178;
}
.name-text-middle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    margin-left: 29px;
    margin-right: 29px;
}
.middle-container-text1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    width: 705px;
    height: 174px;
}
.middle-container-text2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    width: 934px;
    height: 96px;
    margin-top: 27px;
}
.main-middle-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 1389px;
    height: 30px;
}
.frame-left {
    width: 12px;
    height: 21px;
    background: url(../img/coolicon-left.svg);
}
.frame-right {
    width: 12px;
    height: 21px;
    transform: rotate(-180deg);
    background: url(../img/coolicon-left.svg);
}
.main-bottom {
    width: 1462px;
    height: 721px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 2;
    flex-grow: 0;
    margin-top: 250px;
}

.main-bottom-img {
    width: 578px; 
    height: 720px; 
    background: url(../img/01.svg);
}
.main-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 632px;
    height: 488px;
}
.bottom-container-text1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    width: 555px;
    height: 261px;  
}
.bottom-container-text2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 27px 0;
    width: 632px;
    height: 96px;
}

footer {
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-top: 250px;
}
.footer-row1 {
    display: flex;
    justify-content: space-between;
    width: 1461px;
    height: 126px;
}
.footer-row1-logo {
    width: 173px;
    height: 65px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer-Divider {
    width: 1461px;
    height: 1.38px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
}
.footer-row1-CTA {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 585px;
    height: 69px;
}
.footer-CTA-text {
    display: flex;
    justify-content: center;
    height: 29px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-right: 55px;
}
a.footer-CTA-button {
    width: 239px;
    height: 69px;
    background: #FFA343;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}
.footer-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1364.11px;
    height: 248px;
    margin-top: 50px;
}
.Newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 399.6px;
    height: 221px;
}
.Newsletter-text {
    height: 98px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.Newsletter-search {
    height: 71px;
    width: 400px;
    border-radius: 0px;
}
.Newsletter-search form{
    display: flex;
    justify-content: space-between;
}
.email {
    width: 99%;
    display: flex;
    align-items: center;
}
input.footer {
    width: 99%;
    height: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: none;
    outline: none;
}
button.footer {
    background: #FFA343;
    border-radius: 8px 8px 0px 0px;
    width: 79px;
    height: 69px;
    margin: 0;
}
.footer-Rectangle {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
    height: 1.4px;
    width: 400px;
}
.Services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 147px;
    height: 248px;
}
.colum-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: -0.231818px;
    color: #FFD1A0;
}
.colum {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 0px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}
.About {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 147px;
    height: 248px;
}
.Help {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 158px;
    width: 105px;
}
.footer-row3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1379px;
    height: 30px;
    margin-top: 135px;
}
.Privacy-Policy {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    height: 20px;
    width: 120px;
}
.Terms_Conditions {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    height: 20px;
    width: 173px;
    margin-left: 50px;
}
.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 173px;
    height: 30px;
    margin-left: 863px;
}

.Copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 160px;
}

